.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    border-radius: 8px;
    width: 300px;
    font-size: 32px;
}

h2 {
    text-align: center;
    font-weight: 400;
}